<template>
  <div class="inline-flex rounded-md shadow-sm" role="group">
    <button
      class="btn-primary border-l border-r rounded-l-md"
      :class="{ 
        'btn-primary-active': selectedOptions.includes(options[0]), 
        'rounded-md': options.length === 1
      }"
      @click="toggleOption(options[0])"
    >{{ options[0] }} {{ labelPostfix }}</button>

    <template v-if="options.length > 1">
      <button
        v-for="option in options.slice(1, options.length - 1)"
        :key="option"
        class="btn-primary"
        :class="{ 'btn-primary-active': selectedOptions.includes(option) }"
        @click="toggleOption(option)"
      >{{ option }} {{ labelPostfix }}</button>
    </template>

    <button
      v-if="options.length > 2"
      class="btn-primary border-l border-r rounded-r-md"
      :class="{ 'btn-primary-active': selectedOptions.includes(options[options.length - 1]) }"
      @click="toggleOption(options[options.length - 1])"
    >{{ options[options.length - 1] }} {{ labelPostfix }}</button>
  </div>
</template>
    
  <script>
export default {
  name: "Select",
  props: {
    options: {
      type: Array,
      required: true,
    },
    value: {
      type: [Array, String],
      required: false,
    },
    labelPostfix: {
      type: String,
      required: false,
    },
    multiselect: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      selectedOptions: Array.isArray(this.value) ? this.value : [this.value],
    };
  },
  methods: {
    toggleOption(option) {
      if (this.multiselect) {
        this.multipleToggle(option);
        this.$emit("input", this.selectedOptions);
      } else {
        this.selectedOptions = [option];
        this.$emit("input", option);
      }
    },
    multipleToggle(option) {
      if (this.selectedOptions.includes(option)) {
        this.selectedOptions = this.selectedOptions.filter(
          (item) => item !== option
        );
      } else {
        this.selectedOptions.push(option);
      }
    },
  },
};
</script>