<template>
  <div class="w-full">
    <table class="w-full">
      <thead class="uppercase">
        <tr>
          <th colspan="3"></th>
          <th
            colspan="2"
            v-for="year in years"
            :key="year"
            class="display text-center font-bold mx-2"
          >
            <span>{{ year }} YRS</span>
          </th>
        </tr>

        <tr class="border-b-2 border-gray-600">
          <th width="2%"></th>
          <th width="12%" @click="onSort('dateSent')">
            <span class="float-left">Date Sent</span>
            <Caret
              width="12px"
              class="float-left mt-0.5 ml-1 text-gray-300 fill-current cursor-pointer"
              :class="{ 
                'rotate-180 transform ': sortBy === 'dateSent' && sortOrder === 'ASC',
                'text-gray-800': sortBy === 'dateSent'
              }"
            />
          </th>
          <th width="45%" @click="onSort('company')">
            <span class="float-left">Company</span>
            <Caret
              width="12px"
              class="float-left mt-0.5 ml-1 text-gray-300 fill-current cursor-pointer"
              :class="{ 
                'rotate-180 transform ': sortBy === 'company' && sortOrder === 'ASC',
                'text-gray-800': sortBy === 'company'
              }"
            />
          </th>
          <th
            width="7%"
            class="text-center text-gray-400"
            v-for="index in years.length * 2"
            :key="index"
          >
            {{ index % 2 !== 0 ? "FIX"
            : "FRN" }}
          </th>
        </tr>
      </thead>
      <tbody v-for="(row, index) in sortedData" :key="index">
        <tr class="border-t-2">
          <td
            @click="toggleRow(index)"
            class="cursor-pointer"
            v-if="row.Quote && row.Quote.length > 0"
          >
            <ChevronRight width="8px" :class="{ 'rotate-90 transform': openRows[index] }" />
          </td>
          <td v-else></td>
          <td>{{ formatDate(row.DateSent) }}</td>
          <td class="font-bold" :class="{ 'text-gray-400': !row.Quote }">{{ row.Company }}</td>
          <template v-for="year in years">
            <td
              v-for="coupon in ['FIX', 'FRN']"
              :key="year + coupon"
              class="text-center"
              :ref="display + year + coupon + index"
              :class="{'bg-yellow-200': minimalValues[display + currency + year] === row.Company && coupon === 'FIX'}"
            >{{ getRow(row.Quote, year, coupon, display ) }}</td>
          </template>
        </tr>
        <template v-if="row.Quote && row.Quote.length > 0">
          <tr
            v-show="openRows[index]"
            v-for="(display, dIndex) in secondaryDisplays"
            :key="dIndex"
            class="border-t-2 p-4"
          >
            <td></td>
            <td></td>
            <td>{{ display }}</td>
            <template v-for="year in years">
              <td
                v-for="coupon in ['FIX', 'FRN']"
                :key="year + coupon"
                class="text-center"
              >{{ getRow(row.Quote, year, coupon, display ) }}</td>
            </template>
          </tr>
        </template>
      </tbody>
      <tbody v-if="years.length > 0 && rows.length > 0">
        <tr class="border border-black p-4">
          <td colspan="2"></td>
          <td>Average by {{ display }}</td>
          <template v-for="year in years">
            <td
              v-for="coupon in ['FIX', 'FRN']"
              :key="year + coupon"
              class="text-center"
            >{{ getAverage(year, coupon) }}</td>
          </template>
        </tr>
      </tbody>
    </table>
  </div>
</template>
      
<script>
import moment from "moment";
import ChevronRight from "./Icons/ChevronRight";
import Caret from "./Icons/Caret";

export default {
  name: "Table",
  components: {
    ChevronRight,
    Caret,
  },
  props: {
    years: {
      type: Array,
      required: true,
    },
    rows: {
      type: Array,
      required: true,
    },
    currency: {
      type: String,
      required: true,
    },
    display: {
      type: String,
      required: true,
    },
    displayOptions: {
      type: Array,
      required: true,
    },
    minimalValues: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      openRows: {},
      sortBy: "dateSent",
      sortOrder: "ASC",
      averages: {},
    };
  },
  watch: {
    rows: function () {
      this.averages = {};
    },
  },
  computed: {
    sortedData() {
      const sortOrder = this.sortOrder;

      const sortByDate = (a, b) => {
        const dateA = new Date(a.DateSent);
        const dateB = new Date(b.DateSent);

        if (dateA < dateB) {
          return sortOrder === "ASC" ? 1 : -1;
        } else if (dateA > dateB) {
          return sortOrder === "ASC" ? -1 : 1;
        } else {
          return b.Preferred - a.Preferred;
        }
      };

      const sortByCompany = (a, b) => {
        if (a.Company < b.Company) {
          return sortOrder === "ASC" ? -1 : 1;
        } else if (a.Company > b.Company) {
          return sortOrder === "ASC" ? 1 : -1;
        } else {
          return b.Preferred - a.Preferred;
        }
      };

      return [...this.rows].sort((a, b) => {
        if (a.Quote && !b.Quote) {
          return -1;
        } else if (!a.Quote && b.Quote) {
          return 1;
        } else {
          if (this.sortBy === "dateSent") return sortByDate(a, b);
          if (this.sortBy === "company") return sortByCompany(a, b);
        }
      });
    },
    secondaryDisplays() {
      return this.displayOptions.filter((item) => item !== this.display);
    },
  },
  methods: {
    getRow(row, year, coupon, field) {
      if (!row) return;

      const res = row.filter(
        (item) =>
          item.Years === year &&
          item.CouponType === coupon &&
          item.Currency === this.currency
      );

      if (res.length === 0 || res[0][field] === null) {
        return null;
      }

      const value = res[0][field];
      
      if (field !== this.display) {
        return this.formatValue(value, field);
      }
      
      const key = field + year + coupon;
      if (this.averages[key]) {
        this.averages[key].push(value);
      } else {
        this.averages[key] = [value];
      }

      return this.formatValue(value, field);
    },
    formatDate(date) {
      return date ? moment(date, "YYYY-MM-DD").format("DD-MMM-YY") : null;
    },
    formatValue(value, display) {
      const isYield = display === "Yield";
      const newValue = isYield ? value.toFixed(3) : value.toFixed(0);
      const suffix = isYield ? "%" : "bp";
      const postffix = !isYield && value > 0 ? "+" : "";

      return postffix + newValue + suffix;
    },  
    toggleRow(index) {
      const value = Object.hasOwn(this.openRows, index)
        ? !this.openRows[index]
        : true;
      this.$set(this.openRows, index, value);
    },
    onSort(field) {
      if (field === this.sortBy) {
        this.sortOrder = this.sortOrder === "ASC" ? "DESC" : "ASC";
      } else {
        this.sortBy = field;
        this.sortOrder = "ASC";
      }
    },
    getAverage(year, coupon) {
      const averages = this.averages[this.display + year + coupon];

      if (!averages || averages.length === 0) return null;
      
      const average = (averages.reduce((a, b) => a + b, 0) / averages.length);

      return this.formatValue(average, this.display);
    },
  },
};
</script>

<style scoped>
td {
  padding: 8px;
}

.display {
  border-bottom: 2px solid black;
  border-right: 12px solid white;
  border-left: 12px solid white;
}
</style>