@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
      @apply bg-white hover:bg-primary text-primary hover:text-white font-bold py-2 px-4 border-t border-b border-primary;
    }

    .btn-primary-active {
        @apply bg-primary text-white font-bold py-2 px-4;

        border-left: 1px solid #fff;
    }
  }
