<template>
  <div id="app" class="p-12">
    <div class="flex gap-10">
      <Select v-model="currency" :options="currencyOptions" :key="currency" />

      <Select
        v-model="years"
        label-postfix="YRS"
        :options="[...yearOptions[currency]]"
        v-if="currency"
        :key="currency + 'years'"
        multiselect
      />

      <Select v-model="display" :options="displayOptions" :key="currency + 'display'" />
    </div>
    <div class="w-1/3 mt-8">
      <input
        type="text"
        v-model="search"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Filter by company name..."
        @input="onSearch"
      />
    </div>
    <div class="flex mt-10" v-if="currency">
      <Table
        :years="years"
        :display="display"
        :rows="rows"
        :currency="currency"
        :display-options="displayOptions"
        :minimal-values="minimalValues"
      />
    </div>
  </div>
</template>

<script>
import Select from "./components/Form/Select.vue";
import Table from "./components/Table";
import data from "./json/data.json";

export default {
  name: "App",
  components: {
    Select,
    Table,
  },
  data() {
    return {
      currency: null,
      currencyOptions: [],
      years: [],
      yearOptions: [],
      display: null,
      displayOptions: ["Spread", "Yield", "3MLSpread"],
      search: "",
      rows: [],
      minimalValues: {},
    };
  },
  watch: {
    currency: function (currency) {
      this.years = Array.from(this.yearOptions[currency]);
      this.display = this.displayOptions[0];
    },
    immediate: true,
  },
  mounted() {
    this.setItems();

    this.rows = data.Items;
  },
  methods: {
    setItems() {
      const minimalValues = {};
      const minimalValuesKeys = {};
      this.yearOptions = data.Items.reduce((options, item) => {
        if (item.Quote) {
          item.Quote.forEach((quote) => {
            const currency = quote.Currency;

            if (!options[currency]) {
              options[currency] = new Set();
            }

            options[currency].add(quote.Years);

            if (quote.CouponType === 'FRN') {
              return;
            }

            this.displayOptions.forEach(display => {
              const val = minimalValues[display + currency + quote.Years] || Number.MAX_SAFE_INTEGER;

              if (quote[display] <= val && quote[display] !== null) {
                minimalValuesKeys[display + currency + quote.Years] = item.Company;
                minimalValues[display + currency + quote.Years] = quote[display];
              }
            });
          });
        }
        return options;
      }, {});

      this.minimalValues = minimalValuesKeys;
      this.currencyOptions = Object.keys(this.yearOptions);

      this.currency = this.currencyOptions.includes("USD")
        ? "USD"
        : this.currencyOptions[0];
    },
    onSearch() {
      if (!this.search) {
        this.rows = data.Items;
      }

      this.rows = data.Items.filter((item) => {
        return item.Company.toLocaleLowerCase().startsWith(
          this.search.toLocaleLowerCase()
        );
      });
    },
  },
};
</script>